@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="display-4">Welcome to www.makemyevent.fun</h1>
    <h2 class="display-4">We are working on make your event fun hang on..... </h2>
</div>
