@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br/><br/><br/>
   <h1 class="display-3">We are working on making your event fun hang on..... </h2>
</div>
