@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br/><br/><br/>
   <h1 class="display-3">This domain is for sale contact at <a href="makemyeventfun@gmail.com">makemyeventfun@gmail.com
</a> </h2>
</div>
